
/* 
    Created on : Jun 13, 2016, 12:21:29 PM
    Author     : ntagliasacchi
*/

td{
    border: solid 1px black; 
    width: 20%; 
    text-align: center;
}
tr:hover{
    background-color: aliceblue;
}