/* 
    Created on : Mar 3, 2017, 2:10:45 AM
    Author     : quantumDrop
*/

body{
    margin: 0 !important;
}
#banner{
    background-color: rgb(65, 64, 66);
    color: blueviolet;
    font-size: 50px;
    height: 50px;
    padding: 50px;
    text-align: center;
    width: 100%;

    
}