/* 
    Created on : Mar 4, 2017, 4:05:12 PM
    Author     : quantumDrop
*/
@primaryColor: rgb(65, 64, 66);
@secondaryColor: #95fbf8;  
@imgBgColor: yellow;
/*@textBgColor: brown;*/
@textBgColor: @primaryColor;
@squareImageSize: 140px;


html {
    height: 100%;
}
body {
    margin: 0 !important;
    background-color: @primaryColor;
}
p {
    color: @secondaryColor;
}
a {
    color: inherit !important;
    text-decoration: none;
} 
.banner {
    background-color: @primaryColor;
    color: @secondaryColor;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    height: 50px;
    padding: 50px;
    text-align: center;
}
.typingBannerText {
    display: inline-block;
}
.typed-cursor {
    -moz-animation: blink 0.7s infinite;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: white;
    opacity: 1;
}
@keyframes blink {
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
}
@-webkit-keyframes blink {
        0% { opacity:1; }
}
@-moz-keyframes blink {
        0% { opacity:1; }
}
.content {
    background-color: @primaryColor;
    padding-left: 50px;
    padding-right: 50px;
}
.footer {
    background-color: @primaryColor;
    height: 4em;
    line-height: 4em;
    text-align: center;
    clear: left;
}
.fa-stack-fix {
    width: 4em !important;
}
.secondaryColorIcon {
    color: @secondaryColor;
}
.tooltip {
    display: inline-block;
    .tooltiptext {
        background-color: rgb(65,64,66);
        border-radius: 6px;
        color: @secondaryColor;
        font-size: initial;
        padding: 5px;
        position: absolute;
        text-align: center;
        visibility: hidden;
        z-index: 1;
    }
    &:hover {
        .tooltiptext {
            visibility: visible;
        }
    }
}

.contentRowContainer{
}
.leftImage{
    float:left;
}
.rightImage{
    float: right;
}
.imageFormat{
    background-color: @imgBgColor;
    outline: solid 1px black;
    padding: 0px;
    margin: 15px;
    width: @squareImageSize;
    height: @squareImageSize;    
}
.imageDimensions{
    width: 100%;
    height: 100%;
}

.textContainer{
    background-color: @textBgColor;
    color: @secondaryColor;
    padding: 15px;
    text-align: justify;
    min-height: @squareImageSize;
    margin-right: 5px;
    margin-bottom: 5px;
}



