<div ng-controller="ParallaxCtlr" class="parallaxContainer">

    <div class="parallaxText">
        <h3>Languages</h3>

        <label ng-repeat="skill in technicalSkills">{{skill}}, </label>
    </div>
    <div class='parallaxBackground'>
        <div ng-parallax pattern="triangles" speed="0"></div>
    </div>
    <div ng-repeat="qna in questionAndAnswer">
        <parallax-Question-Answer background="{{triangles}}" speed="0" question="{{qna.question}}" answer="{{qna.answer}}"></parallax-Question-Answer>
    </div>
</div>